body {
  background: #d6d2d2; }

.container {
  max-width: 1200px; }

.main-header {
  background: url("../assets/header-img.jpg");
  width: 100%;
  height: 900px; }

.bg-light {
  background-color: transparent !important; }

/* .trying{
  line-height:normal;
  display: inline-block;
  vertical-align:bottom;
  border: 1px solid red;
} */
.trying {
  background: #ffbb99; }

input, button, select, optgroup, textarea {
  height: 38px; }

.testimonial {
  background: #FF5722;
  float: left;
  width: 100%;
  color: #52565b; }

.testimonial .section-title h2 {
  color: #f8e69f;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 3px; }

.testimonial blockquote {
  border-left: none;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  position: relative; }

.testimonial blockquote:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 12px 12px 0 12px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -12px;
  left: 10%; }

.testimonial .author {
  margin-bottom: 0;
  margin-left: 10px;
  color: #f8e69f; }
